.bottom-info {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 1000px;
    margin-left: -500px; /* La moitié de la largeur pour centrer */
    background: white; /* Ou toute autre couleur de fond que vous préférez */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Pour l'ombre en haut de la div */
    /* Ajoutez d'autres styles ici si nécessaire */
}
