{% extends 'base.html' %}

{% block title %}
Accueil
{% endblock %}


{% block content %}
    <div class="home">
        <div class="background-image-home">
        </div>


        <div class="info-container">
            <div class="bottom-info flex flex-col items-center justify-start space-between p-4 fixed inset-x-0 bottom-0 mx-auto w-1000px bg-white shadow-lg">
            <h1 class="text-5xl font-bold mt-4">Facile. Authentique. Africain.</h1>
            <div class="flex flex-col items-center justify-between flex-grow w-full mt-8 mb-8">
                <p>Des recettes africaines des cuisines de l'Afrique de l'ouest</p>
                <p>Vous trouverez ici les meilleures recettes des cuisines africaines !</p>
                <p>Absolument authentique et toujours facile à cuisiner à la maison.</p>
                <p>Tout ce dont vous avez besoin est de quelques ingrédients frais du supermarché du coin et vous êtes prêt à partir.</p>
                <p>Embarquez avec nous pour un voyage dans les cuisines d'Afrique !</p>
            </div>
        </div>
    </div>




{% endblock %}




