<!DOCTYPE html>
<html>
<head>
  <title>Formulaire</title>
</head>
<body>

<h2>Formulaire</h2>

<form action="/inscription" method="post">
  <div>
    <label for="pseudonyme">Pseudonyme:</label>
    <input type="text" id="pseudonyme" name="pseudonyme" required>
  </div>
  
  <div>
    <label for="pseudonyme">email:</label>
    <input type="text" id="pseudonyme" name="email" required>
  </div>

  <div>
    <label for="adresse">Adresse:</label>
    <input type="text" id="adresse" name="adresse" required>
  </div>
  <div>
    <label for="date_naissance">Date de naissance:</label>
    <input type="date" id="date_naissance" name="date_naissance" required>
  </div>
  <div>
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="telephone">Téléphone:</label>
    <input type="telephone" id="telephone" name="telephone" required>
  </div>
  <div>
    <input type="submit" value="Envoyer">
  </div>
</form>

</body>
</html>
