{% extends 'base.html' %}

{% block title %}
Détail de la recette
{% endblock %}

{% block content %}

    <div class="container-detail flex items-center justify-center">
        <div class="text-container-detail rounded-lg p-8 w-full max-w-md">
            {% for recipe in recette %}
            <div class="detail-container-title flex items-center justify-center">
                <h1 class="text-3xl font-bold mb-3">Recette du {{ recipe['titre'] }}</h1>
            </div>

            <div class="config-recipe-container flex items-center justify-center">
                <div class="config-item m-3 border-r-2 border-solid border-black px-5">
                    <p>
                        {{ recipe['nombres_personnes'] }} personnes
                    </p>
                </div>
                <div class="config-item m-3 px-5">
                    <p>
                        {{ recipe['temps_cuisson'] }} minutes
                    </p>
                </div>
            </div>

            <div class="history-recipe mb-5 hidden">
                <div class="title-history-recipe mt-10 mb-3">
                    <h2 class="text-orange-300 h2-text">La petite histoire</h2>
                </div>
                <div class="text-content-history">
                    <p>IUIOUUUUUUUUUUOU</p>
                </div>
            </div>

            <div class="recipe-detail-main-container">
                <div class="ingredients-container">
                    <div class="title-container">
                        <h2 class="h2-text">Ingrédients</h2>
                    </div>
                    <div class="ingredients-content">
                        {% for ingredient in recipe['ingredients'] %}
                            <div class="ingredients-item">
                                <p>{{ ingredient }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="instrutions-container">
                    <div class="title-container">
                        <h2 class="h2-text">Instructions</h2>
                    </div>
                    <div class="instructions-content">
                        {% for etape in recipe['etapes'] %}
                            <div class="instructions-item">
                                <p class="p-2 font-semibold">{{ etape }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}


            

            <div>
                <div class="back-button-container generate-accompagnements">
                    <a class="back-button mt-4 block w-full text-center bg-indigo-600 text-white p-3 rounded-lg cursor-pointer">Accompagnements pour la recette</a>
                    
                </div>

                <div class="accompagnements-container">
                </div>

                <p class="invisible name-recipe">{{ nom_recete }}</p>
            </div>
            

            <div class="back-button-container">
                <a href="/recettes/{{ nom_recete }}/recommandations" class="back-button mt-4 block w-full text-center bg-indigo-600 text-white p-3 rounded-lg">Voir les recommandations</a>
            </div>

            <div>
                <div class="back-button-container generate-liste-courses">
                    <a class="back-button mt-4 block w-full text-center bg-indigo-600 text-white p-3 rounded-lg cursor-pointer">Récupérer la liste de course</a>
                </div>

                <div class="test-button-container">
                    <a class="back-button mt-4 block w-full text-center bg-indigo-600 text-white p-3 rounded-lg cursor-pointer">Récuperer test</a>
                </div>

                <div class="liste-course-container">
                </div>
                

                <div class="liste-course-share-container hidden">
                    <a class="share-button mt-4 block w-full text-center bg-black text-white p-2 rounded-lg cursor-pointer">Partager la liste</a>
                </div>

                <p class="invisible name-recipe">{{ nom_recete }}</p>
            </div>


            <div class="chatbot-container">
                <div class="title-chatbot">
                    <h2 class="">Parler à un Assistant Cuisinier</h2>
                </div>

                <div id="chat-messages" class="border border-gray-300 rounded-md p-4 max-h-64 overflow-y-auto"></div>
                <div id="chat-input-container" class="flex mt-4">
                    <input id="user-input" type="text" placeholder="Posez votre question..." class="w-3/4 py-2 px-4 border border-gray-300 rounded-l-md focus:outline-none focus:border-indigo-600">
                    <button id="send-button" class="w-1/4 bg-indigo-600 text-white font-semibold py-2 px-4 rounded-r-md focus:outline-none hover:bg-indigo-700">Envoyer</button>
                </div>
                <div class="chatbot-loader text-center mt-4" id="chatbot-loader" style="display: none;">
                    <img src="loader.gif" alt="Chargement...">
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {

            $('.test-button-container').click(function() {
                var nomRecet = $(this).parent().find('.name-recipe').text();
                console.log(nomRecet + "/")
                $.post('/recettes/test', { nom_recette: nomRecet }, function(data) {
                    var accompagnementsResponse = data.result;

                    console.log(accompagnementsResponse)
                    
                    var jsonAccompagnements = JSON.parse(accompagnementsResponse)

                    console.log(accompagnementsResponse)

                });
            });

            $('#send-button').click(function() {
                var userMessage = $('#user-input').val();
                $('#user-input').val('');

                $('#chat-messages').css( "display", "block" );

                $('#chat-messages').append('<div class="user-message bg-gray-200 rounded-md p-2 my-1">' + userMessage + '</div>');
                $('#chatbot-loader').show();

                $.post('/ask', { question: userMessage }, function(data) {
                    var botResponse = data.result;
                    $('#chat-messages').append('<div class="agent-message bg-indigo-600 text-white rounded-md p-2 my-1">' + botResponse + '</div>');
                    $('#chatbot-loader').hide();
                });
            });

            $('.generate-accompagnements').click(function() {

                var nomRecette = $(this).parent().find('.name-recipe').text()
                console.log(nomRecette)

                $.post('/recette/accompagnements', { nom_recette: nomRecette }, function(data) {
                    var accompagnementsResponse = data.result;
                    
                    var jsonAccompagnements = JSON.parse(accompagnementsResponse)
                    jsonAccompagnements.forEach(function(accompagnement) {
                        var nom_accompagnement = accompagnement.nom_accompagnement;
                        $('.accompagnements-container').append('<p class="font-semibold"> - ' + nom_accompagnement + '</p>');
                    });
                });
            });

            $('.generate-liste-courses').click(function() {

            var nomRecette = $(this).parent().find('.name-recipe').text()
            console.log(nomRecette)

                $.post('/recette/liste-course', { nom_recette: nomRecette }, function(data) {
                    var listeCoursesResponse = data.result;

                    var listCourseArray = [];
                    
                    var jsonListCourse = JSON.parse(listeCoursesResponse)
                    console.log(jsonListCourse)
                    jsonListCourse.forEach(function(ingredient) {
                        var nom_ingredient = ingredient.nom_ingredient;
                        $('.liste-course-container').append('<p class="font-semibold"> - ' + nom_ingredient + '</p>');
                        listCourseArray.push(nom_ingredient)
                    });

                    $('.liste-course-share-container').fadeIn();

                    $('.liste-course-share-container').click(function() {
                        navigator.clipboard
                        .writeText(listCourseArray.toString())
                        .then(
                        (success) => console.log("text copied"),
                        (err) => console.log("error copying text")
                        );
                    });
                });
            });
        });
    </script>
{% endblock %}







<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Détail de la recette</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body >
    <div class="container-detail flex items-center justify-center">
        <div class="text-container-detail bg-white rounded-lg shadow-lg p-8 w-full max-w-md">

            <h1 class="text-3xl font-bold mb-6 text-center text-indigo-600">Détail de la recette</h1>
            <h2 class="text-xl font-bold mb-2 text-indigo-600">{{nom_recete}}</h2>

            <p class="text-lg text-gray-700">{{ recette }}</p>

            <div class="back-button-container">
                <a href="/recettes" class="back-button mt-4 block w-full text-center bg-indigo-600 text-white p-3 rounded-lg">Retour à la liste des recettes</a>
            </div>
            

            <div class="chatbot-container">
                <div class="title-chatbot">
                    <h2 class="">Parler à un Assistant Cuisinier</h2>
                </div>
                
                <div id="chat-messages" class="border border-gray-300 rounded-md p-4 max-h-64 overflow-y-auto"></div>
                <div id="chat-input-container" class="flex mt-4">
                    <input id="user-input" type="text" placeholder="Posez votre question..." class="w-3/4 py-2 px-4 border border-gray-300 rounded-l-md focus:outline-none focus:border-indigo-600">
                    <button id="send-button" class="w-1/4 bg-indigo-600 text-white font-semibold py-2 px-4 rounded-r-md focus:outline-none hover:bg-indigo-700">Envoyer</button>
                </div>
                <div class="chatbot-loader text-center mt-4" id="chatbot-loader" style="display: none;">
                    <img src="loader.gif" alt="Chargement...">
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#send-button').click(function() {
                var userMessage = $('#user-input').val();
                $('#user-input').val('');

                $('#chat-messages').css( "display", "block" );
                
                $('#chat-messages').append('<div class="user-message bg-gray-200 rounded-md p-2 my-1">' + userMessage + '</div>');
                $('#chatbot-loader').show();
                
                $.post('/ask', { question: userMessage }, function(data) {
                    var botResponse = data.result;
                    $('#chat-messages').append('<div class="agent-message bg-indigo-600 text-white rounded-md p-2 my-1">' + botResponse + '</div>');
                    $('#chatbot-loader').hide();
                });
            });
        });
    </script>

</body>
</html>

