<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Détail de la recette</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md">

        <h1 class="text-3xl font-bold mb-6 text-center text-indigo-600">Détail de la recette</h1>
        <h2 class="text-xl font-bold mb-2 text-indigo-600">{{nom_recete}}</h2>

        <p class="text-lg text-gray-700">{{ recette }}</p>

        <a href="/recettes" class="mt-4 block w-full text-center bg-indigo-600 text-white p-3 rounded-lg">Retour à la liste des recettes</a>
    </div>
</body>
</html>

